<h4 class="py-3 mb-4"><span class="text-muted fw-light">Menú /</span> Auxiliar</h4>

<div id="tablaRegistro"></div>

<div class="modal fade" id="modalFormularioAuxiliar" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="prediocontenidoModalAuxiliar"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        cargarTabla();

        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });

    });

    function initDataTable() {
        const $tbl = $('#data-table');
        if ($.fn.DataTable.isDataTable($tbl)) $tbl.DataTable().destroy();
        $tbl.DataTable({ language: {/* tu traducción */ } });
    }

    function cargarTabla(q) {
        showGlobalLoader({ imgUrl: '/assets/img/logo/activofijos.png', axis: 'y', speed: 1.2, texto: 'Cargando...' });

        $.ajax({
            type: 'POST',
            url: "/administracion/auxiliar/tabla-registros" + (q ? ('?q=' + encodeURIComponent(q)) : ''),
            success: function (html) { $("#tablaRegistro").html(html); initDataTable(); },
            error: function (xhr) { $("#tablaRegistro").html(`<div class="alert alert-danger m-3">Error cargando tabla</div>`); },
            complete: hideGlobalLoader
        });
    }

    function cargarFormulario() {
        cargarFormularioAlert("/administracion/auxiliar/formulario", "#prediocontenidoModalAuxiliar", "#formularioAuxiliar");
    }

    function cargarFormularioEdit(id) {
        cargarFormularioEditAlert(id, "/administracion/auxiliar/formulario-edit", "#prediocontenidoModalAuxiliar", "#formularioAuxiliar");
    }

    function eliminar(nombre, id) {
        eliminarRegistroAlert(nombre, id, "/administracion/auxiliar/eliminar", cargarTabla);
    }

</script>