<h4 class="py-3 mb-4"><span class="text-muted fw-light">Menú /</span> Municipio</h4>

<div id="tablaRegistro"></div>

<div class="modal fade" id="modalFormularioMunicipio" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" id="contenidoModalMunicipio"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        cargarTabla();

    });

    function cargarTabla() {
        $.ajax({
            type: 'POST',
            url: "/administracion/municipio/tabla-registros",  // Ruta del metodo del controlador en Spring Boot
            success: function (response) {
                $("#tablaRegistro").html(response);  // Actualiza el contenido del div con la respuesta del servidor
            }
        });
    }

    function cargarFormulario() {
        cargarFormularioAlert("/administracion/municipio/formulario", "#contenidoModalMunicipio", "#formularioMunicipio");
    }

    function cargarFormularioEdit(id) {
        cargarFormularioEditAlert(id, "/administracion/municipio/formulario-edit", "#contenidoModalMunicipio", "#formularioMunicipio");
    }

    function eliminar(nombre, id) {
        eliminarRegistroAlert(nombre, id, "/administracion/municipio/eliminar",cargarTabla);
    }

</script>