<footer th:fragment="footer" class="content-footer footer bg-footer-theme">
    <div class="container-xxl">
        <div class="footer-container d-flex align-items-center justify-content-between py-2 flex-md-row flex-column">
            <div>
                ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                , Sistema de gestión de activos fijos by
                <a target="_blank" class="footer-link text-primary fw-medium">U.S.I.C.</a>
            </div>
        </div>
    </div>
</footer>