<!-- Menu -->
<aside th:fragment="sidebar" id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a href="/adm/inicio" class="app-brand-link">
            <span class="app-brand-logo demo">
                <img th:src="@{/assets/img/logo/activofijos.png}"
                    alt="SAYOVE"
                    style="height:25px; width:60px; display:block;" />
            </span>
            <span class="app-brand-text demo menu-text fw-bold">SAYOVE</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
            <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
        </a>
    </div>

    <ul class="menu-inner py-1">
        <!-- VISTA ADMINISTRADOR Y SUPER USUARIO -->
        <li class="menu-header small text-uppercase" th:if="${session.nombre_rol == 'ADMINISTRADOR'}">
            <span class="menu-header-text">ADMINISTARCIÓN</span>
        </li>
        <li class="menu-item" id="opcion_admin" th:if="${session.nombre_rol == 'ADMINISTRADOR'}">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-users"></i>
                <div>Administrar usuarios</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" id="opcion_rol">
                    <a class="menu-link">
                        <i class="ti ti-shield-lock me-2"></i>
                        <div>Rol</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_persona">
                    <a class="menu-link">
                        <i class="ti ti-id me-2"></i>
                        <div>Persona</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_usuario">
                    <a class="menu-link">
                        <i class="ti ti-user-cog me-2"></i>
                        <div>Usuario</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_responsable">
                    <a class="menu-link">
                        <i class="ti ti-user-check me-2"></i>
                        <div>Responsables</div>
                    </a>
                </li>
            </ul>
        </li>
        <!-- COMPLEMENTOS -->
        <li class="menu-header small text-uppercase" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
            <span class="menu-header-text">COMPLEMENTOS</span>
        </li>
        <li class="menu-item" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-adjustments"></i>
                <div>Administrar complementos</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" id="opcion_contable">
                    <a class="menu-link">
                        <i class="ti ti-category-2 me-2"></i>
                        <div>Grupo contable</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_auxiliar">
                    <a class="menu-link">
                        <i class="ti ti-folders me-2"></i>
                        <div>Auxiliar</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_of">
                    <a class="menu-link">
                        <i class="ti ti-building-bank me-2"></i>
                        <div>Organismo financiador</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_estadoA">
                    <a class="menu-link">
                        <i class="ti ti-badge me-2"></i>
                        <div>Estado del activo</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-item" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-map"></i>
                <div>Ambito geografico</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" id="opcion_entidad">
                    <a class="menu-link">
                        <i class="ti ti-building me-2"></i>
                        <div>Entidad</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_municipio">
                    <a class="menu-link">
                        <i class="ti ti-map-pin me-2"></i>
                        <div>Municipio</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_predio">
                    <a class="menu-link">
                        <i class="ti ti-home-2 me-2"></i>
                        <div>Predio</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_oficina">
                    <a class="menu-link">
                        <i class="ti ti-door me-2"></i>
                        <div>Oficinas </div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-header small text-uppercase" th:if="${session.nombre_rol == 'ADMINISTRADOR'}">
            <span class="menu-header-text">GESTION</span>
        </li>
        <li class="menu-item" th:if="${session.nombre_rol == 'ADMINISTRADOR'}">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-report-analytics"></i>
                <div>Seguimientos</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" id="opcion_aan">
                    <a class="menu-link">
                        <i class="ti ti-clipboard-check me-2"></i>
                        <div>Asignaciones</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_ta">
                    <a class="menu-link">
                        <i class="ti ti-arrows-exchange-2 me-2"></i>
                        <div>Transferencias</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_iaa">
                    <a class="menu-link">
                        <i class="ti ti-arrow-down-circle me-2"></i>
                        <div>Ingresos</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_ba">
                    <a class="menu-link">
                        <i class="ti ti-arrow-up-circle me-2"></i>
                        <div>Bajas</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class="menu-header small text-uppercase" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
            <span class="menu-header-text">Gestion Activos</span>
        </li>
        <li class="menu-item" th:if="${session.nombre_rol == 'ADMINISTRADOR' or session.nombre_rol == 'SUPER USUARIO'}">
            <a href="#" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ti ti-packages"></i>
                <div>Administración activos</div>
            </a>
            <ul class="menu-sub">
                <li class="menu-item" id="opcion_activo">
                    <a class="menu-link">
                        <i class="ti ti-clipboard-text me-2"></i>
                        <div>Registro activos</div>
                    </a>
                </li>
                <li class="menu-item" id="opcion_activop">
                    <a class="menu-link">
                        <i class="ti ti-clipboard-text me-2"></i>
                        <div>Registro activos pendientes</div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</aside>
<!-- / Menu -->