<table class="table table-bordered">
    <thead>
        <tr>
            <th>Fecha</th>
            <th>Funcionario</th>
            <th>Unidad</th>
            <th>Activos Registrados</th>
            <th>PDF</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="ingreso : ${ingresos}">
            <td th:text="${ingreso.fechaIngreso}"></td>
            <td th:text="${ingreso.codigoFuncionarioPropietario} + ' / ' + ${ingreso.ciPropietario}"></td>
            <td th:text="${ingreso.unidadPropietario}"></td>
            <td>
                <ul>
                    <li th:each="a : ${ingreso.activos}" th:text="${a.descripcion + ' (' + a.estado + ')'}"></li>
                </ul>
            </td>
            <td>
                <a th:href="@{'/pdfs/activos-ajenos/' + ${#strings.substring(ingreso.rutaPdf, ingreso.rutaPdf.lastIndexOf('/') + 1)}}" target="_blank" class="btn btn-sm btn-outline-primary">
                    Ver PDF
                </a>
            </td>
        </tr>
    </tbody>
</table>
