<!doctype html>

<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr"
    data-theme="theme-default" data-assets-path="../../assets/" data-template="vertical-menu-template">

<head th:replace="~{layout/head :: head}"></head>

<body>
    <style>
        .swal2-container {
            z-index: 9999 !important;
        }
    </style>
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <aside th:replace="~{layout/sidebar :: sidebar}"></aside>
            <div class="layout-page">
                <nav th:replace="~{layout/topbar :: topbar}"></nav>
                <div class="content-wrapper">
                    <div class="container-xxl flex-grow-1 container-p-y" id="contenido"></div>
                    <!-- <div id="contenido-mis-activos" th:if="${session.nombre_rol == 'RESPONSABLE'}"></div> -->
                    <footer th:replace="~{layout/footer :: footer}"></footer>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{layout/script :: script}"></div>
    
</body>

</html>