<div class="card">
    <div class="card-header d-flex justify-content-lg-between">
        <h5>Registro Grupo Contable</h5>
        
        <div class="d-flex gap-2">
            <button id="btnSync" class="btn btn-outline-primary btn-sm">
            <i class="fa-solid fa-rotate me-1"></i> Importar desde DBF montado
            </button>
            <button type="button" class="btn btn-primary" onclick="cargarFormulario()" data-bs-toggle="modal"
                data-bs-target="#modalFormularioGrupoContable">
                <i class="fa-solid fa-user-plus"></i> Agregar Grupo Contable
            </button>
        </div>
    </div>

    <div class="card-datatable table-responsive pt-0">
        <table class="datatables-basic table table-hover" id="data-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>CODIGO CONTABLE</th>
                    <th>NOMBRE</th>
                    <th>VIDA UTIL</th>
                    <th>DEPRECIAR</th>
                    <th>ACTUALIZAR</th>
                    <th>OPCIONES</th>
                </tr>
            </thead>
            <tbody class="animate__animated animate__bounceInDown">
                <tr th:each="grupoc, index: ${listasGrupoContable}">
                    <th th:text="${index.index+1}"></th>
                    <th th:text="${grupoc.codContable}"></th>
                    <th th:text="${grupoc.nombre}"></th>
                    <th th:text="${grupoc.vidaUtil}"></th>
                    <th th:text="${grupoc.depreciar}"></th>
                    <th th:text="${grupoc.actualizar}"></th>
                    <th>
                        <button type="button" class="btn btn-sm btn-primary"
                            th:onclick="cargarFormularioEdit([[${id_encryptado[__${index.index}__]}]])"
                            data-bs-toggle="modal" data-bs-target="#modalFormularioGrupoContable">
                            <i class="fa-solid fa-pen-to-square"></i> Editar
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" th:onclick="eliminar([[${grupoc.nombre}]],[[${id_encryptado[__${index.index}__]}]])">
                            <i class="fa-solid fa-trash"></i> Eliminar
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $('#data-table').DataTable({
        language: {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script>