<div class="card shadow-sm p-4">
    <h4 class="mb-3 text-primary">Activos asignados a mí</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-light">
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Oficina</th>
                    <th>Grupo Contable</th>
                    <th>Estado</th>
                    <th>Fecha Adquisición</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="activo : ${activos}">
                    <td th:text="${activo.codigo}"></td>
                    <td th:text="${activo.nombre}"></td>
                    <td th:text="${activo.descripcion}"></td>
                    <td th:text="${activo.oficina.nombre}"></td>
                    <td th:text="${activo.grupoContable.nombre}"></td>
                    <td th:text="${activo.estadoActivo.nombre}"></td>
                    <td th:text="${#temporals.format(activo.fecha_adquisición, 'dd/MM/yyyy')}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
