<div class="card">
    <div class="card-header d-flex justify-content-lg-between">
        <h5>Registro Activo</h5>
        <button type="button" class="btn btn-primary" onclick="cargarFormulario()" data-bs-toggle="modal"
            data-bs-target="#modalFormularioActivo">
            <i class="fa-solid fa-user-plus"></i> Agregar Activo
        </button>
        <!-- Botón para abrir el modal de improtacion excel-->
        <button type="button" onclick="abrirModal()">Importar Activos</button>

    </div>
    <div class="card-datatable table-responsive pt-0">
        <table class="datatables-basic table table-hover" id="data-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Costo</th>
                    <th>Vida Util</th>
                    <th>Fecha Adqusiición</th>
                    <th>Estado Activo</th>
                    <th>Grupo contable</th>
                    <th>Oficina</th>
                    <th>OPCIONES</th>
                </tr>
            </thead>
            <tbody class="animate__animated animate__bounceInDown">
                <tr th:each="activo, index: ${listasOficinas}">
                    <th th:text="${index.index+1}"></th>
                    <th th:text="${activo.codigo}"></th>
                    <th th:text="${activo.nombre}"></th>
                    <th th:text="${activo.descripcion}"></th>
                    <th th:text="${activo.costo}"></th>
                    <th th:text="${activo.vida_util}"></th>
                    <th th:text="${activo.fecha_adquisición}"></th>
                    <th th:text="${activo.estadoActivo.nombre}"></th>
                    <th th:text="${activo.grupoContable.nombre}"></th>
                    <th th:text="${activo.activo.nombre}"></th>
                    <th th:text="${activo.responsable.persona.nombre}"></th>
                    <th>
                        <button type="button" class="btn btn-sm btn-primary"
                            th:onclick="cargarFormularioEdit([[${id_encryptado[__${index.index}__]}]])"
                            data-bs-toggle="modal" data-bs-target="#modalFormularioActivo">
                            <i class="fa-solid fa-pen-to-square"></i> Editar
                        </button>
                        <button type="button" class="btn btn-sm btn-danger" th:onclick="eliminar([[${activo.nombre}]],[[${id_encryptado[__${index.index}__]}]])">
                            <i class="fa-solid fa-trash"></i> Eliminar
                        </button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $('#data-table').DataTable({
        language: {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script>