<div class="card">
    <div class="card-datatable table-responsive pt-0">
        <table class="datatables-basic table table-hover" id="data-table">
            <thead>
                <tr>
                    <th>Unidad Responsable</th>
                    <th>Responsable</th>
                    <th>Nº H.R</th>
                    <th>Ubicacion destino</th>
                    <th>Activo</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tbody class="animate__animated animate__bounceInDown">
                <tr th:each="asignacion : ${asignaciones}">
                    <th th:text="${asignacion.unidadResponsable ?: '-'}"></th>
                    <th th:text="${asignacion.responsable.persona.nombre ?: '-'} + ${asignacion.responsable.persona.paterno ?: '-'}"></th>
                    <th th:text="${asignacion.hr ?: '-'}"></th>
                    <th th:text="${asignacion.ubicacionActivo ?: '-'}"></th>
                    <th th:text="${asignacion.descripcionActivo ?: '-'}"></th>
                    <th>
                        <a th:href="@{/seguimiento-activo/asignaciones/{id}/pdf(id=${asignacion.idAsignacion})}"
                            target="_blank"
                            class="btn btn-sm btn-outline-primary">
                        Ver PDF
                        </a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $('#data-table').DataTable({
        language: {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        }
    });
</script>